
.contact-info
  section
    .name
      span Dynamic Natural Medicine - Dr. Jennifer S Read.
  section
    .email
      span: a(href="mailto:" + info.email)
        //span: a(href="mailto:&#" + new Buffer(info.email, 'ascii').toJSON().join(";&#") + ";")
        | <meta itemprop="email" content="info@dynamicnaturalmedicine.com">
        = info.email
  section
    .phone
      span
        a(href="tel:" + info.phone)
          span(itemprop="telephone")= info.phoneFormatted

  each address, index in info.addresses
    section
      .address(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
        span
          .title= address.title
          a(href="//maps.google.com/maps?saddr=&daddr=" + encodeURIComponent(address.oneline), target="_blank")
            span(itemprop="streetAddress") #{address.line1} | #{address.line2}
            br
            span(itemprop="addressLocality") #{address.city}
            | ,&nbsp;
            span(itemprop="addressRegion") #{address.state}
            | ,&nbsp;
            span(itemprop="postalCode") #{address.zip}

  // TODO: use geolocation, https://github.com/estebanav/javascript-mobile-desktop-geolocation or bower component