.contact-info
  section
    .email
      span: a(href="mailto:" + info.email)= info.email
  section
    .phone
      span: a(href="tel:" + info.phone)= info.phoneFormatted
  section
    .address
      span: a(href="//maps.google.com/maps?saddr=&daddr=" + encodeURIComponent(info.address.oneline), target="_blank")
        | #{info.address.line1} | #{info.address.line2}
        br
        | #{info.address.city}, #{info.address.state}, #{info.address.zip}